In [1]:
library(dplyr)
library(gtools)
library(combinat)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union



Attaching package: ‘combinat’


The following object is masked from ‘package:utils’:

    combn

In [2]:
urna <- 1:5

con_orden_y_con_reemplazo <- expand.grid(urna,urna,urna)

(conteo <- 5^3)

tail(con_orden_y_con_reemplazo)

[1] 125

    Var1 Var2 Var3
120 5    4    5
121 1    5    5
122 2    5    5
123 3    5    5
124 4    5    5
125 5    5    5

In [10]:
datos_con_dos <- con_orden_y_con_reemplazo %>% filter(Var1==2 | Var2==2 | Var3==2 )
datos_con_dos

   Var1 Var2 Var3
1  2    1    1
2  1    2    1
3  2    2    1
4  3    2    1
5  4    2    1
6  5    2    1
7  2    3    1
8  2    4    1
9  2    5    1
10 1    1    2
11 2    1    2
12 3    1    2
13 4    1    2
14 5    1    2
15 1    2    2
16 2    2    2
17 3    2    2
18 4    2    2
19 5    2    2
20 1    3    2
21 2    3    2
22 3    3    2
23 4    3    2
24 5    3    2
25 1    4    2
26 2    4    2
27 3    4    2
28 4    4    2
29 5    4    2
30 1    5    2
⋮  ⋮    ⋮    ⋮
32 3    5    2
33 4    5    2
34 5    5    2
35 2    1    3
36 1    2    3
37 2    2    3
38 3    2    3
39 4    2    3
40 5    2    3
41 2    3    3
42 2    4    3
43 2    5    3
44 2    1    4
45 1    2    4
46 2    2    4
47 3    2    4
48 4    2    4
49 5    2    4
50 2    3    4
51 2    4    4
52 2    5    4
53 2    1    5
54 1    2    5
55 2    2    5
56 3    2    5
57 4    2    5
58 5    2    5
59 2    3    5
60 2    4    5
61 2    5    5

In [12]:
urna <- 1:5

(conteo <- factorial(5)/factorial(5-3))

Con_orden_sin_remplazo <- permutations(5,3,urna ) %>% as.data.frame
Con_orden_sin_remplazo

[1] 60

   V1 V2 V3
1  1  2  3
2  1  2  4
3  1  2  5
4  1  3  2
5  1  3  4
6  1  3  5
7  1  4  2
8  1  4  3
9  1  4  5
10 1  5  2
11 1  5  3
12 1  5  4
13 2  1  3
14 2  1  4
15 2  1  5
16 2  3  1
17 2  3  4
18 2  3  5
19 2  4  1
20 2  4  3
21 2  4  5
22 2  5  1
23 2  5  3
24 2  5  4
25 3  1  2
26 3  1  4
27 3  1  5
28 3  2  1
29 3  2  4
30 3  2  5
31 3  4  1
32 3  4  2
33 3  4  5
34 3  5  1
35 3  5  2
36 3  5  4
37 4  1  2
38 4  1  3
39 4  1  5
40 4  2  1
41 4  2  3
42 4  2  5
43 4  3  1
44 4  3  2
45 4  3  5
46 4  5  1
47 4  5  2
48 4  5  3
49 5  1  2
50 5  1  3
51 5  1  4
52 5  2  1
53 5  2  3
54 5  2  4
55 5  3  1
56 5  3  2
57 5  3  4
58 5  4  1
59 5  4  2
60 5  4  3

In [14]:
urna <- 1:5
Con_orden_sin_remplazo_exahusiva <- permn(urna)  %>% as.data.frame
dim(Con_orden_sin_remplazo_exahusiva)
tail(Con_orden_sin_remplazo_exahusiva)
factorial(5)

[1]   5 120

  X1.5 c.1L..2L..3L..5L..4L. c.1L..2L..5L..3L..4L. c.1L..5L..2L..3L..4L.
1 1    1                     1                     1
2 2    2                     2                     5
3 3    3                     5                     2
4 4    5                     3                     3
5 5    4                     4                     4
  c.5L..1L..2L..3L..4L. c.5L..1L..2L..4L..3L. c.1L..5L..2L..4L..3L.
1 5                     5                     1
2 1                     1                     5
3 2                     2                     2
4 3                     4                     4
5 4                     3                     3
  c.1L..2L..5L..4L..3L. c.1L..2L..4L..5L..3L. c.1L..2L..4L..3L..5L. ⋯
1 1                     1                     1                     ⋯
2 2                     2                     2                     ⋯
3 5                     4                     4                     ⋯
4 4                     5                     3                     ⋯
5 3                     3                     5                     ⋯
  c.2L..1L..4L..3L..5L. c.2L..1L..4L..5L..3L. c.2L..1L..5L..4L..3L.
1 2                     2                     2
2 1                     1                     1
3 4                     4                     5
4 3                     5                     4
5 5                     3                     3
  c.2L..5L..1L..4L..3L. c.5L..2L..1L..4L..3L. c.5L..2L..1L..3L..4L.
1 2                     5                     5
2 5                     2                     2
3 1                     1                     1
4 4                     4                     3
5 3                     3                     4
  c.2L..5L..1L..3L..4L. c.2L..1L..5L..3L..4L. c.2L..1L..3L..5L..4L.
1 2                     2                     2
2 5                     1                     1
3 1                     5                     3
4 3                     3                     5
5 4                     4                     4
  c.2L..1L..3L..4L..5L.
1 2
2 1
3 3
4 4
5 5

[1] 120

In [15]:
factorial(5)/(factorial(3)*2)

[1] 10

In [16]:
urna <- 1:5

(Conteo <- choose(5,3))

sin_orden_y_sin_remplazo <- combn(urna,3) %>% as.data.frame()
sin_orden_y_sin_remplazo

[1] 10

  V1 V2 V3 V4 V5 V6 V7 V8 V9 V10
1 1  1  1  1  1  1  2  2  2  3
2 2  2  2  3  3  4  3  3  4  4
3 3  4  5  4  5  5  4  5  5  5

Supongamos dos dados con 6 lados

In [17]:
dado <- c(1,2,3,4,5,6)

Supongamos que queremos 2 extracciones de la urna sin reemplazo. Entonces el espacios muestral es

In [18]:
resultados_tiros_dos_dados <- expand.grid(Dado_uno = dado, Dado_dos = dado)
tail(resultados_tiros_dos_dados)
(cantidad <- dim(resultados_tiros_dos_dados)[1])

   Dado_uno Dado_dos
31 1        6
32 2        6
33 3        6
34 4        6
35 5        6
36 6        6

[1] 36

In [ ]:
6*6

Como en el lanzamiento de los dados, queremos un juego con la suma de los puntos en cada tiro.

In [19]:
espacio_muestral_dos_dados <- resultados_tiros_dos_dados %>% 
mutate(Resultado = Dado_uno + Dado_dos)

dim(espacio_muestral_dos_dados)[1]
tail(espacio_muestral_dos_dados)

[1] 36

   Dado_uno Dado_dos Resultado
31 1        6         7
32 2        6         8
33 3        6         9
34 4        6        10
35 5        6        11
36 6        6        12

In [20]:
combinaciones_ganadoras_dos_dados <- espacio_muestral_dos_dados %>% filter(espacio_muestral_dos_dados$Resultado == 7)
combinaciones_ganadoras_dos_dados
dim(combinaciones_ganadoras_dos_dados)[1]

  Dado_uno Dado_dos Resultado
1 6        1        7
2 5        2        7
3 4        3        7
4 3        4        7
5 2        5        7
6 1        6        7

[1] 6

In [21]:
conteo <- count(espacio_muestral_dos_dados,Resultado)
probabilidad <- conteo  %>% mutate(Probabilidad = n/dim(espacio_muestral_dos_dados)[1])
probabilidad <- probabilidad %>% mutate(Frecuencias = 1/Probabilidad)
probabilidad

   Resultado n Probabilidad Frecuencias
1   2        1 0.02777778   36.0
2   3        2 0.05555556   18.0
3   4        3 0.08333333   12.0
4   5        4 0.11111111    9.0
5   6        5 0.13888889    7.2
6   7        6 0.16666667    6.0
7   8        5 0.13888889    7.2
8   9        4 0.11111111    9.0
9  10        3 0.08333333   12.0
10 11        2 0.05555556   18.0
11 12        1 0.02777778   36.0

Supongamos que queremos 3 extracciones de la urna son reemplazo. Entonces el espacios muestral es

In [40]:
resultados_tiros_tres_dados <- expand.grid(Dado_uno = dado, Dado_dos = dado, Dado_tres = dado)
dim(resultados_tiros_tres_dados)

[1] 216   3

In [41]:
espacio_muestral_tres_dados <- resultados_tiros_tres_dados %>% 
mutate(Resultado = Dado_uno + Dado_dos + Dado_tres)
tail(espacio_muestral_tres_dados)

    Dado_uno Dado_dos Dado_tres Resultado
211 1        6        6         13
212 2        6        6         14
213 3        6        6         15
214 4        6        6         16
215 5        6        6         17
216 6        6        6         18

In [42]:
probabilidad <- count(espacio_muestral_tres_dados,Resultado) %>% 
mutate(Probabilidad = n/dim(espacio_muestral_tres_dados)[1])  %>%
mutate(Frecuencia = 1/Probabilidad)

probabilidad

   Resultado n  Probabilidad Frecuencia
1   3         1 0.00462963   216.00000
2   4         3 0.01388889    72.00000
3   5         6 0.02777778    36.00000
4   6        10 0.04629630    21.60000
5   7        15 0.06944444    14.40000
6   8        21 0.09722222    10.28571
7   9        25 0.11574074     8.64000
8  10        27 0.12500000     8.00000
9  11        27 0.12500000     8.00000
10 12        25 0.11574074     8.64000
11 13        21 0.09722222    10.28571
12 14        15 0.06944444    14.40000
13 15        10 0.04629630    21.60000
14 16         6 0.02777778    36.00000
15 17         3 0.01388889    72.00000
16 18         1 0.00462963   216.00000

In [46]:
espacio_muestral_tres_dados

    Dado_uno Dado_dos Dado_tres Resultado
1   1        1        1          3
2   2        1        1          4
3   3        1        1          5
4   4        1        1          6
5   5        1        1          7
6   6        1        1          8
7   1        2        1          4
8   2        2        1          5
9   3        2        1          6
10  4        2        1          7
11  5        2        1          8
12  6        2        1          9
13  1        3        1          5
14  2        3        1          6
15  3        3        1          7
16  4        3        1          8
17  5        3        1          9
18  6        3        1         10
19  1        4        1          6
20  2        4        1          7
21  3        4        1          8
22  4        4        1          9
23  5        4        1         10
24  6        4        1         11
25  1        5        1          7
26  2        5        1          8
27  3        5        1          9
28  4        5        1         10
29  5        5        1         11
30  6        5        1         12
⋮   ⋮        ⋮        ⋮         ⋮
187 1        2        6          9
188 2        2        6         10
189 3        2        6         11
190 4        2        6         12
191 5        2        6         13
192 6        2        6         14
193 1        3        6         10
194 2        3        6         11
195 3        3        6         12
196 4        3        6         13
197 5        3        6         14
198 6        3        6         15
199 1        4        6         11
200 2        4        6         12
201 3        4        6         13
202 4        4        6         14
203 5        4        6         15
204 6        4        6         16
205 1        5        6         12
206 2        5        6         13
207 3        5        6         14
208 4        5        6         15
209 5        5        6         16
210 6        5        6         17
211 1        6        6         13
212 2        6        6         14
213 3        6        6         15
214 4        6        6         16
215 5        6        6         17
216 6        6        6         18

In [57]:
combinaciones_ganadoras <- espacio_muestral_tres_dados %>%
filter( espacio_muestral_tres_dados$Resultado == 10)  

combinaciones_ganadoras

   Dado_uno Dado_dos Dado_tres Resultado
1  6        3        1         10
2  5        4        1         10
3  4        5        1         10
4  3        6        1         10
5  6        2        2         10
6  5        3        2         10
7  4        4        2         10
8  3        5        2         10
9  2        6        2         10
10 6        1        3         10
11 5        2        3         10
12 4        3        3         10
13 3        4        3         10
14 2        5        3         10
15 1        6        3         10
16 5        1        4         10
17 4        2        4         10
18 3        3        4         10
19 2        4        4         10
20 1        5        4         10
21 4        1        5         10
22 3        2        5         10
23 2        3        5         10
24 1        4        5         10
25 3        1        6         10
26 2        2        6         10
27 1        3        6         10

In [ ]:
letters
LETTERS
length(letters)

In [60]:
dias <- 1:6
espacio_muestral <- expand.grid(letters, dias)
espacio_muestral

    Var1 Var2
1   a    1
2   b    1
3   c    1
4   d    1
5   e    1
6   f    1
7   g    1
8   h    1
9   i    1
10  j    1
11  k    1
12  l    1
13  m    1
14  n    1
15  o    1
16  p    1
17  q    1
18  r    1
19  s    1
20  t    1
21  u    1
22  v    1
23  w    1
24  x    1
25  y    1
26  z    1
27  a    2
28  b    2
29  c    2
30  d    2
⋮   ⋮    ⋮
127 w    5
128 x    5
129 y    5
130 z    5
131 a    6
132 b    6
133 c    6
134 d    6
135 e    6
136 f    6
137 g    6
138 h    6
139 i    6
140 j    6
141 k    6
142 l    6
143 m    6
144 n    6
145 o    6
146 p    6
147 q    6
148 r    6
149 s    6
150 t    6
151 u    6
152 v    6
153 w    6
154 x    6
155 y    6
156 z    6

In [ ]:
letra_nombre <- function(letra, numero_fecha){
    abcedario <- letters
    fecha <- 1:31
    
    espacio_muestral <- expand.grid(abcedario, urna) %>% data.frame()
    
    busqueda <- c(letra, numero_fecha)
    
    buscar_dato <- function(fila, busqueda){
        all(row == busqueda)
    }
    
    coincidencias <- apply(espacio_muestral,1, buscar_dato,busqueda)
    indices <- which
    raturn()
}

In [ ]:
letra_nombre()